/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto Slab', serif; */

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #EEE8a9;
    font-size: 60px;
}

h2,
h3,
h4,
h5,
h6,
a,
p,
span {
    font-family: 'Roboto Slab', serif;
    color: #EEE8a9;
}

#navItem1 {
    color: #EEE8a9;
}

#navItem2 {
    color: #EEE8a9;
}

#navItem3 {
    color: #EEE8a9;
}

#navItem1:hover {
    color: black;
}

#navItem2:hover {
    color: black;
}

#navItem3:hover {
    color: black;
}


.background {
    background-color: #1F5853;
}

#hero{
    display: flex;
    width: 100vw;
    height: 30vh;
    background-color: red;

}

body {
    background-color: #6b3C00;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.title-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

a:hover {
    color: black;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.centerPost {
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.lightbulb-icon{
    font-size: 48px;
}

.top-icon{
    margin-right: 20px;
}